# venv stuff
/bin/
**/bin/
/include/
**/include/
/lib/
**/lib/
pyvenv.cfg
/backend/app/__pycache__
/backend/database.db
/backend/venv
/backend/app/flask_session
/backend/app/static/BookImages
/backend/app/apis/__pycache__
/backend/app/models/__pycache__
/backend/app/routes/__pycache__
/frontend/api
/frontend/package-lock.json
/frontend/node_modules
/.vscode

# **/bin/*
# */include
# */lib
# */pyvenv.cfg

.idea/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.exe
